# 索引

## index( )

In [18]:
list1 = ['TOM','Lirit','TIM']

In [2]:
list1.index('TIM')

2

In [4]:
list1.index('Lirit')

1

In [5]:
list1.count('TIM')

1

In [6]:
len(list1)

3

### in/not in

In [7]:
'TIM' in list1

True

In [9]:
'TIMs' in list1

False

In [11]:
'TIMs' not in list1

True

# 插入

### append( )

In [19]:
list1.append('TOMS')

In [20]:
list1

['TOM', 'Lirit', 'TIM', 'TOMS']

In [21]:
list1.append(['1','2'])#append无法添加多个列表

In [22]:
list1

['TOM', 'Lirit', 'TIM', 'TOMS', ['1', '2']]

### extend(  )

In [23]:
list1.extend(['3','4'])
print(list1)

['TOM', 'Lirit', 'TIM', 'TOMS', ['1', '2'], '3', '4']

### insert(   )

In [24]:
list1.insert(1,'TOMS')

In [25]:
list1

['TOM', 'TOMS', 'Lirit', 'TIM', 'TOMS', ['1', '2'], '3', '4']

# 删除

### del(   )

In [26]:
del list1[1]

In [27]:
list1

['TOM', 'Lirit', 'TIM', 'TOMS', ['1', '2'], '3', '4']

### pop(   )

删除指定下表的数据,如果不指定下标,默认删除最后一个数据

In [29]:
list1.pop(3)#返回的是删除的数据

'TOMS'

In [30]:
list1

['TOM', 'Lirit', 'TIM', ['1', '2'], '3', '4']

### remove(   )

In [31]:
list1.remove('4')

In [32]:
list1

['TOM', 'Lirit', 'TIM', ['1', '2'], '3']

### clear(  )

In [33]:
list1.clear()
print(list1)

[]

### del(   )

In [34]:
del list1

In [35]:
print(list1)

NameError: name 'list1' is not defined

# 修改

In [37]:
list1 = ['TOM','Lirit','TIM']

In [38]:
list1[0] = 'TOMS'
print(list1)

['TOMS', 'Lirit', 'TIM']

### reverse(   )

In [42]:
list1 = [1,2,3]

In [43]:
list1.reverse()
print(list1)

[3, 2, 1]

### sort(   )

In [46]:
list1.sort()

In [47]:
print(list1)

[1, 2, 3]

In [50]:
# list1.sort(reverse=False)
list1.sort(reverse=True)
print(list1)

[3, 2, 1]

# 复制

In [51]:
list2 = list1.copy()#深拷贝

In [52]:
list2

[3, 2, 1]

In [58]:
import random
teachers = ['A','B','C','D','E','F','G','H']
rooms = [[] ,[], []]
for i in teachers:
#     teachers_name = teachers.pop(random.randint(0,len(teachers)+1))
#     print(teachers_name)
    rooms[random.randint(0,2)].append(i)
print(rooms)

[['D', 'G'], ['A', 'C', 'H'], ['B', 'E', 'F']]